#canvas {
	display: block;
	background: #eee;
	margin: 0 auto;
	visibility: hidden;
}

.box {
	width: 100px;
	height: 100px;
	border: 1px solid blue;
	display: block;
	margin: 0 auto;
}

#div1 {
	
}

#title {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 70px;
	color: #0095DD;
	
}

#btn {
	display: block;
	margin: 0 auto;
}